@model finalProject.Models.VideoLibrary

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>VideoLibrary</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.videoLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.videoLink)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.videoNumber }) |
    @Html.ActionLink("Back to List", "Index")
</p>
