@model IEnumerable<finalProject.Models.Lesson_Tabel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
   
</p>
@using (Html.BeginForm())
{
    <p>
        Enter the book name or the Author: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
   
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LessonNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LessonTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lesson)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LessonNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LessonTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lesson)
        </td>
        
    </tr>
    }

</table>
