@model IEnumerable<finalProject.Models.ApplicationUser>
@{
    ViewBag.Title = "UserList";
}
<style>
    th, td {
        text-align: center;
    }
</style>
<h2>Students list</h2>
<table>

    <tr>
        <td>@Html.DisplayName("UserName")</td>

        <td>@Html.DisplayName("Email")</td>

    </tr>
    
    @foreach (var item in Model)

    {
        <tr>
            <td>@Html.DisplayFor(model => item.UserName)</td>

            <td>@Html.DisplayFor(model => item.Email)</td>
            <td>@Html.ActionLink("Delete", "StudentDelete", new { id = item.Id })</td>
            <td>@Html.ActionLink("Edit", "StudentEdit", new { id = item.Id })</td>
        </tr>
    }

</table>